PORT=8666

REACT_APP_STAKING_CONTRACT=0xB997FcCC9850534F4e87a0558553d28bF3DfFaB4

# Ethereum
REACT_APP_ETH_NETWORK_ID=5
REACT_APP_ETH_NETWORK_NAME=Goerli
REACT_APP_SMART_CONTRACT_ETH_PRESALE_FACTORY_ADDRESS=0x7eDA5d4b8Cbd68f0005a804E9440f1B0F3fA49Fb
REACT_APP_SMART_CONTRACT_ETH_USDT_ADDRESS=0x0ce65bd902c58c5a5f330ebcad22947729ec27ef
REACT_APP_SMART_CONTRACT_ETH_USDC_ADDRESS=0x117af0cabd664ae75c575408845766d823bf0540

# Binance Smart Chain
REACT_APP_BSC_NETWORK_ID=97
REACT_APP_BSC_NETWORK_NAME=BSC Testnet
REACT_APP_SMART_CONTRACT_BSC_PRESALE_FACTORY_ADDRESS=0xEA5a74868390E1C499d96D890124f8D1EBD1Bff2
REACT_APP_SMART_CONTRACT_BSC_USDT_ADDRESS=0x2b264caA3954715f1b253e7Ba3EE4B8030Acb506
REACT_APP_SMART_CONTRACT_BSC_USDC_ADDRESS=0x55174079d93F05ba8169F88b1A765B3Ac584c75D
REACT_APP_SMART_CONTRACT_BSC_BUSD_ADDRESS=0x79c86934bE686B28b9aeeaFc42202907b06E3D7A

# Polygon
REACT_APP_POLYGON_NETWORK_ID=80001
REACT_APP_POLYGON_NETWORK_NAME=Polygon Testnet
REACT_APP_SMART_CONTRACT_POLYGON_PRESALE_FACTORY_ADDRESS=0x31dD855591863A98961Ae08BeF8e965B590d89C8
REACT_APP_SMART_CONTRACT_POLYGON_USDT_ADDRESS=0x2058A9D7613eEE744279e3856Ef0eAda5FCbaA7e
REACT_APP_SMART_CONTRACT_POLYGON_USDC_ADDRESS=0x2058A9D7613eEE744279e3856Ef0eAda5FCbaA7e

# Avalanche
REACT_APP_AVALANCHE_NETWORK_ID=43113
REACT_APP_AVALANCHE_NETWORK_NAME=Avalanche FUJI C-Chain
REACT_APP_SMART_CONTRACT_AVALANCHE_PRESALE_FACTORY_ADDRESS=0x8cE1F2B54a799b81Ef2ed0B93Dada61AfF1803b8
REACT_APP_SMART_CONTRACT_AVALANCHE_USDT_ADDRESS=0xf9eBC63044d661b7F55154C38B217a2329fa573A

# Arbitrum
REACT_APP_ARBITRUM_NETWORK_ID=421613
REACT_APP_ARBITRUM_NETWORK_NAME=Arbitrum Goerli Testnet
REACT_APP_SMART_CONTRACT_ARBITRUM_PRESALE_FACTORY_ADDRESS=0xE63d289c93CC97247a76e8857ee94B4D0c864cDF
REACT_APP_SMART_CONTRACT_ARBITRUM_USDT_ADDRESS=0xAF4292Bcc56578ed679f43ec566a5A302fbB8121

REACT_APP_ETH_RPC_URL=https://rpc.ankr.com/eth_goerli
REACT_APP_BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
REACT_APP_POLYGON_RPC_URL=https://rpc-mumbai.maticvigil.com/
REACT_APP_AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
REACT_APP_ARBITRUM_RPC_URL=https://goerli-rollup.arbitrum.io/rpc

REACT_APP_API_BASE_URL=http://127.0.0.1:8456

REACT_APP_MESSAGE_SIGNATURE=Launchpad Admin Signature
